<h1>Angular</h1>
<ul>
  <li>Components</li>
  <li>Directives</li>
  <li>Databinding</li>
  <li>Pipes</li>
  <li>Formhandling</li>
  <li>Routing</li>
</ul>
<div>{{siteName}}</div> <! –– interpolation or expression ––> 
 <div *ngIf = "true">NgIfDirective</div>
 <div *ngIf = "!isChecked">NgIfDirective2</div>
<ul >
  <li *ngFor = "let name of names">{{name}}</li>
</ul>
<table class="table table-bordered table-striped">
  <tbody>
    <tr *ngFor="let emp of employees">
      <td>{{emp.id}}</td>
      <td>{{emp.name}}</td>
      <td>{{emp.desg}}</td>
      <td>{{emp.sal}}</td>
   </tr>
  </tbody>
</table>
<div [ngSwitch]="course">
  <div *ngSwitchCase="'UIDevelop'">
    <h2>UIDevelopment</h2>
    <ul>
      <li>HTML5</li>
      <li>CSS3</li>
      <li>Javascript</li>
      <li>Bootstrap</li>
    </ul>
  </div>
  
  <div *ngSwitchCase="'MEAN'">
    <h2>MEANSTACK</h2>
    <ul>
      <li>MongoDB</li>
      <li>Express</li>
      <li>Angular</li>
      <li>Node</li>
    </ul>
  </div>
   <div *ngSwitchDefault>
     <h2>courses will introduce soon</h2>

   </div>
</div>
<div>
  <label for="ename">Select Employee</label>
  <select  >
    <option *ngFor="let emp of employees" value="emp.name">{{emp.name}}</option>
  </select>
</div>
<h1>Angular module tutorial</h1>
<app-login></app-login>
<app-signup></app-signup>

